RewriteEngine on

RewriteRule ^(index|contact|registration|admin_posts|login|logout)$ $1.php [NC,L]

RewriteRule ^post/(\d+)$ post.php?p_id=$1 [NC,L]

RewriteRule ^category/(\d+)$ detail_cat.php?category=$1 [NC,L]
